In [ ]:
#Import pandas
import pandas as pd

# Pandas Series

## Create Series

In [ ]:
#Load data set
movies = pd.read_csv("movie.csv")
# Read a dataset with missing values
flights = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/flights.csv")

In [ ]:
flights.head()

In [ ]:
flights_dist = flights['distance']

In [ ]:
flights_dist.head()

In [ ]:
#check the data structure
type(flights)

In [ ]:
#check the data structure
type(flights_dist)

In [ ]:
#Create series from list
age=pd.Series([20,25,30,50,75])

In [ ]:
age

In [ ]:
#Create series from list
age=pd.Series([20,25,30,50,75],index=[1,2,3,4,5])
alpha=pd.Series(["a","b","c","d","e"],index=[1,2,3,4,5])

In [ ]:
age

In [ ]:
alpha

In [ ]:
#Create series from np array
import numpy as np
series_np = pd.Series(np.array([10,20,30,40,50,60]))

In [ ]:
series_np

In [ ]:
#Create from dictionary
t_dict = {'a' : "Raj", 'b': "Anil", 'c':"Sagar"}

In [ ]:
students=pd.Series(t_dict)

In [ ]:
type(students)

In [ ]:
students

# Series Methods and Attributes

### How to find attributes and methods

In [ ]:
s_attr_methods = set(dir(pd.Series))

In [ ]:
len(s_attr_methods)

In [ ]:
df_attr_methods = set(dir(pd.DataFrame))

In [ ]:
len(df_attr_methods)

In [ ]:
len(s_attr_methods & df_attr_methods)

In [ ]:
s_attr_methods

# Series Methods

In [ ]:
#Load in the movie dataset, 
movies = pd.read_csv("movie.csv")

In [ ]:
movies.info()

In [ ]:
#Pull two columns out of it
fb_likes = movies["actor_1_facebook_likes"]
director = movies["director_name"]

In [ ]:
fb_likes

In [ ]:
#Selecting a few values
director.head()

In [ ]:
#Another method
director.sample(n=5,random_state=42)

In [ ]:
#Counting the number of elements in the Series
director.shape

In [ ]:
director

In [ ]:
#Calculate the frequencies for objects : Number of movies by director
director.value_counts()

In [ ]:
#Calculate the % of movies by director
director.value_counts(normalize=True)*100

In [ ]:
##Calculate the frequencies for numeric data type
fb_likes.value_counts()

In [ ]:
#Unique directors in the series
director.unique()

In [ ]:
#summary statistics
#.min, .max, .mean, .median, and .std:

In [ ]:
fb_likes.min()

In [ ]:
fb_likes.max()

In [ ]:
fb_likes.mean()

In [ ]:
fb_likes.median()

In [ ]:
fb_likes.std()

In [ ]:
#Descriptive stats
fb_likes.describe()

In [ ]:
#Descriptive stats
director.describe()

In [ ]:
fb_likes.quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [ ]:
#number of non-missing values
director.count()

In [ ]:
#number of non-missing values
fb_likes.count()

In [ ]:
#There are missing values
director.isna().sum()

In [ ]:
#There are missing values
fb_likes.isna()

In [ ]:
#Replace all missing values within a Series with the .fillna method
#fb_likes.fillna(0)
fb_likes.fillna(fb_likes.mean())

In [ ]:
#Remove the entries in Series elements with missing values
fb_likes.dropna()

# Series Operations

In [ ]:
#Let us select IMDB score column from movies data set
movies = pd.read_csv("movie.csv")
imdb_score = movies["imdb_score"]
imdb_score

In [ ]:
#Add a numerical value
#imdb_score+1
#imdb_score*2
#imdb_score**2   #Exponential
#imdb_score// 7  #Floor division
#imdb_score%2.   #Reminder computation

In [ ]:
imdb_score.head()

In [ ]:
#Comparison
imdb_score>7

In [ ]:
#Find the movies of a director
director = movies["director_name"]

In [ ]:
movies[director == "James Cameron"]

In [ ]:
director.head()

In [ ]:
director[director == "James Cameron"]

# Chaining Series methods

In [ ]:
#Load in the movie dataset, 
movies = pd.read_csv("movie.csv")

In [ ]:
#Pull two columns out of it
fb_likes = movies["actor_1_facebook_likes"]
director = movies["director_name"]

In [ ]:
#the most common method to append to the end of a chain are the .head method. This suppresses long output
director.value_counts().head(3)

In [ ]:
#A common way to count the number of missing values is to chain the .sum method after a call to .isna
fb_likes.isna().sum()

In [ ]:
fb_likes.dtype

In [ ]:
#likes cannot be float because it should be countable numbers.
#fb_likes.astype(int)

In [ ]:
#It is because there NA values..let us treat Na values and change it to int data type
fb_likes.fillna(0).astype(int).head()

In [ ]:
#more readable format
(fb_likes
 .fillna(0)
 .astype(int)
 .head()
)

In [ ]:
#To debug this code
(fb_likes
  .fillna(0)
  .astype(int)
  .head()
)

# Pandas DataFrames

In [ ]:
#Dictionary of lists

import pandas as pd
import numpy as np
fname = ["Paul", "John", "Richard", "George"]
lname = ["McCartney", "Lennon", "Starkey", "Harrison"]
birth = [1992, 1990, 1980, 19473]

In [ ]:
dataframe=pd.DataFrame({"fname":fname,"lname":lname,"dob":birth})

In [ ]:
dataframe

In [ ]:
dataframe.index

In [ ]:
#change the index
dataframe.index=["a","b","c","d"]

In [ ]:
dataframe

In [ ]:
#DataFrame from list of lists
# Create a list of lists
list_of_lists =[
    ['Emma', 29, 'HR'],
    ['Oliver', 25, 'Finance'],
    ['Harry', 33, 'Marketing'],
    ['Sophia', 24, 'IT']
]

In [ ]:
# Create the DataFrame
df_list_of_list = pd.DataFrame(list_of_lists, columns = ['Name', 'Age', 'Department'])

In [ ]:
df_list_of_list

In [ ]:
#DataFrame from list of dictionaries
# Create a list of dictionaries
list_of_dictionaries = [
    {'Name': 'Emma', 'Age': 29, 'Department': 'HR'},
    {'Name': 'Oliver', 'Age': 25, 'Department': 'Finance'},
    {'Name': 'Harry', 'Age': 33, 'Department': 'Marketing'},
    {'Name': 'Sophia', 'Age': 24, 'Department': 'IT'}
]

In [ ]:
# Create the DataFrame
df_list_of_dictionaries = pd.DataFrame(list_of_dictionaries)

In [ ]:
df_list_of_dictionaries

In [ ]:
#Dataframe from dictionary of pandas Series
# Create Series
series1 = pd.Series(['Emma', 'Oliver', 'Harry', 'Sophia'])
series2 = pd.Series([29, 25, 33, 24])
series3 = pd.Series(['HR', 'Finance', 'Marketing', 'IT'])

In [ ]:
# Create a dictionary of Series
data_test = pd.DataFrame({'Name': series1, 'Age': series2, 'Department':series3})

In [ ]:
data_test

In [ ]:
#Writing CSV
data_test.to_csv("data_test.csv")

In [ ]:
import os
os.getcwd()

In [ ]:
##read the csv file
data=pd.read_csv("data_test.csv")

In [ ]:
data

In [ ]:
#Reading the data with right index column
data=pd.read_csv("data_test.csv",index_col=0)

In [ ]:
data

#### Reading large CSV files

In [ ]:
diamonds = pd.read_csv("diamonds.csv", nrows=1000)

In [ ]:
diamonds.info()

In [ ]:
# Load only required columns

cols = ["carat","cut","color","clarity","depth","table","price",]

data = pd.read_csv("diamonds.csv", nrows=1000 ,usecols=cols)

In [ ]:
data.info()

In [ ]:
col_list=diamonds.columns.to_list()
col_list

In [ ]:
#Using Excel files
#install xlwt or openpyxl
#!pip install openpyxl

In [ ]:
data_excel=pd.read_excel('data_test.xlsx',index_col=0,sheet_name='data_test')

In [ ]:
data_excel

In [ ]:
#Loading large csv file
import dask.dataframe as dd

In [ ]:
data = dd.read_csv('diamonds.csv')

In [ ]:
data

# Comparison of the performance

In [ ]:
%%time
data = dd.read_csv('diamonds.csv')

In [ ]:
%%time
data = pd.read_csv('diamonds.csv')

# Summarizing a DataFrame

In [ ]:
movies = pd.read_csv("movie.csv")

In [ ]:
movies.shape

In [ ]:
movies.size

In [ ]:
movies.ndim

In [ ]:
len(movies)

In [ ]:
#The .count method shows the number of non-missing values for each column
movies.count()

In [ ]:
#Descriptive statistics
movies.describe().T

### Selecting multiple DataFrame columns

In [ ]:
#import the data
movies=pd.read_csv("movie.csv")

In [ ]:
movies.columns

In [ ]:
movie_actor_director = movies[['director_name','actor_1_name','actor_2_name','actor_3_name']]

In [ ]:
movie_actor_director.head()

In [ ]:
#Using .loc method
movies.loc[:, ["director_name"]]

In [ ]:
movies.dtypes

In [ ]:
movies_int_columns= movies.select_dtypes(include = ["int","float"])

In [ ]:
movies_int_columns

In [ ]:
movies_int_columns= movies.select_dtypes(exclude = ["int","float"])

In [ ]:
movies.columns

In [ ]:
# Selection of columns based on column name
movies.filter(like="facebook").head()

In [ ]:
#The .filter method has more tricks 
cols = ["actor_1_name","actor_2_name","actor_3_name","director_name"]
movies.filter(items=cols).head()

In [ ]:
#Renaming the column names
#DataFrame method accepts dictionaries that map the old value to the new value

In [ ]:
movies = pd.read_csv("movie.csv")

In [ ]:
#create a dictionary with old and new names
col_rename = {
"director_name": "director",
"num_critic_for_reviews": "critic_reviews",
}

In [ ]:
movies.rename(columns=col_rename).head()

In [ ]:
## Clean the column names

def to_clean(val):
    return val.strip().upper().replace(" ", "_")

In [ ]:
movies.rename(columns=to_clean).head(3)

In [ ]:
#Creating and deleting columns

In [ ]:
#Create column
movies = pd.read_csv("movie.csv")

In [ ]:
movies["has_seen"] = 0

In [ ]:
movies

In [ ]:
#Using assign column
movies.assign(budget_k=movies.budget/1000)

In [ ]:
#Delete column
movies.drop(columns="color")

# Chaining DataFrame methods

In [ ]:
movies.isnull().head()

In [ ]:
#We will chain the .sum method that interprets True and False as 1 and 0, respectively
movies.isnull().sum().head()

In [ ]:
movies.isnull().sum().sum()

# Data Analysis

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
college = pd.read_csv("college.csv")

In [ ]:
sampledata=college.sample(10)

In [ ]:
#Get the dimensions of the DataFrame
college.shape

In [ ]:
#List the data type of each column, the number of non-missing values
college.info()

In [ ]:
#Get summary statistics for the numerical columns
college.describe()

In [ ]:
#For better readability, let us transpose
college.describe().T

In [ ]:
#Get summary statistics for the object (string) columns
college.describe(include=[np.object]).T

#### Selecting the smallest of the largest

In [ ]:
movie = pd.read_csv("movie.csv")

In [ ]:
movie

In [ ]:
#let us slice the columns 
movie2 = movie[["movie_title", "imdb_score", "budget"]]

In [ ]:
movie2

In [ ]:
#Top 100 movies by imdb_score
movie2.nlargest(100, "imdb_score").head()

In [ ]:
#Alternatively 
movie2.sort_values(by=['imdb_score'],ascending=False).head()

In [ ]:
#smallest five lowest budget films among those with a top 100 score
movie2.nlargest(100, "imdb_score").nsmallest(5, "budget")

In [ ]:
#Selecting the largest of each group: Let us find out highest rated movie in every year
movie = pd.read_csv("movie.csv")

In [ ]:
movie.title_year

In [ ]:
movie1=movie[["movie_title", "title_year", "imdb_score"]]

In [ ]:
movie2=movie1.sort_values(by=['title_year','imdb_score'],ascending=False)

In [ ]:
result=movie2.drop_duplicates(subset='title_year')
result

In [ ]:
#Alternative Method
gm=movie[["movie_title", "title_year", "imdb_score"]].groupby("title_year")

In [2]:
gm.apply(lambda df: df.sort_values("imdb_score", ascending=False).head(3)).droplevel(0).sort_values(by='title_year',ascending=False)