In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Load the dataset:
import pandas as pd
import numpy as np
cars = pd.read_csv("vehicles.csv.zip")

In [ ]:
cars.info()

In [ ]:
#Call individual summary statistics methods such as .mean, .std, and .quantile
cars.mean()

In [ ]:
cars.std()

In [ ]:
cars.head()

In [ ]:
cars.quantile([0, 0.25, 0.5, 0.75, 1])

In [ ]:
cars.describe()

In [ ]:
cars.describe().T

In [ ]:
#To get summary statistics on the object columns
cars.describe(include=object)

In [ ]:
cars.drive

# Column Types

In [ ]:
#Inspect the .dtypes attribute
cars.dtypes

In [ ]:
#Summarize the types of columns
cars.dtypes.value_counts()

### Categorical data

In [ ]:
#Pick out the columns with data types that are object
cars.select_dtypes(object).columns

In [ ]:
#Find the cardinality: unique values in the column

In [ ]:
cars.drive.nunique()

In [ ]:
# Sample data
cars.drive.sample(5, random_state=42)

In [ ]:
#Number and percent of missing values
cars.drive.isna().sum()

In [ ]:
cars.drive.isna().mean()*100

In [ ]:
#summarize the column
cars.drive.value_counts()

#### Continuous data

In [ ]:
#Pick out the columns that are numeric (typically int64 or float64):
cars.select_dtypes("number")

In [ ]:
#Let us pull a numeric column city08: Which is miles per gallons
cars.city08

In [ ]:
cars.city08.isna().sum()

In [ ]:
cars.city08.describe()

In [ ]:
h=cars.city08.hist()

In [ ]:
fig = h.get_figure()
fig.savefig("hist.pdf")

In [ ]:
cars.make

Comparing continuous values across categories.

Mileage numbers in different brands: Ford, Honda, Tesla, and BMW

In [ ]:
mask = cars.make.isin(["Ford", "Honda", "Tesla", "BMW"])

In [ ]:
mask

Find the summary statistics for the city08 column by the make

In [ ]:
grouped= cars[mask].groupby("make")

In [ ]:
grouped.city08.describe()

In [ ]:
import seaborn as sns
g = sns.catplot(x="make", y="city08", data=cars[mask], kind="box")

In [ ]:
g.fig.savefig("boxplot")

In [ ]:
# how many vlaues are there in each make
cars[mask].groupby("make").count()

In [ ]:
# how many vlaues are there in each make
cars[mask].groupby("make").city08.count()

Comparing two continuous columns. 

Evaluating how two continuous columns relate to one another is the essence of regression. If you have two columns with a high correlation to one another, often,
you may drop one of them as a redundant column

#### covariance of the two numbers

In [ ]:
cars.city08.cov(cars.highway08)

In [ ]:
cars.city08.cov(cars.comb08)

In [ ]:
cars.city08.cov(cars.cylinders)

In [ ]:
#Pearson correlation between the two numbers

In [ ]:
cars.city08.corr(cars.highway08)

In [ ]:
cars.city08.corr(cars.cylinders)

In [ ]:
 cars[["city08", "highway08", "cylinders"]].corr()

In [ ]:
cars.corr()

In [ ]:
c = cars.corr().abs()
s = c.unstack()
s

In [ ]:
#Use pandas to scatter plot the relationships:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(8, 8))
cars.plot.scatter(x="city08", y="highway08", alpha=0.9, ax=ax)

In [ ]:
#Comparing categorical values with categorical values
#we will look at makes and vehicle class

In [ ]:
cars.groupby(["make", "VClass"]).size().sort_values(ascending=False)

In [ ]:
#Using crosstab
pd.crosstab(cars.make, cars.VClass)

In [ ]:
pd.crosstab([cars.year, cars.make], [cars.VClass])

In [ ]:
#Using the pandas profiling library
import pandas_profiling as pp

In [ ]:
#movies = pd.read_csv("movie.csv")
#pp.ProfileReport(movies)

In [ ]:
import sweetviz as sv
sweet_report = sv.analyze(movies)
sweet_report.show_html('weather_report.html')

# Filtering Rows
Filtering data from a dataset is one of the most common and basic operations. There are
numerous ways to filter (or subset) data in pandas with Boolean indexing

In [ ]:
#Calculating Boolean statistics
#Read in the movie dataset, set the index to the movie title, and inspect the first few rows of the duration column

In [ ]:
import pandas as pd
import numpy as np
movie = pd.read_csv("movie.csv", index_col="movie_title")

In [ ]:
movie.info()

In [ ]:
#Determine whether the duration of each movie is longer than two hours
movie_2_hours = movie["duration"] > 120

In [ ]:
movie_2_hours.head(10)

In [ ]:
#number of movies that are longer than two hours
movie_2_hours.sum()

In [ ]:
#Percentage of movies in the dataset longer than two hours
movie_2_hours.mean()*100

In [ ]:
movie_2_hours.head()

In [ ]:
movie_2_hours.describe()

In [ ]:
movie_2_hours.value_counts(normalize=True)

In [ ]:
#compare two columns from the same DataFrame to produce a Boolean Series
#percentage of movies that have actor 1 with more Facebook likes than actor 2.
actors = movie[["actor_1_facebook_likes", "actor_2_facebook_likes"]].dropna()

In [ ]:
(actors["actor_1_facebook_likes"]> actors["actor_2_facebook_likes"]).mean()

# Task 1

#imdb_score greaterthan 8, 
#a content_rating of PG-13, 
#and a title_year either before 2000 or after 2009

Constructing a filter for your dataset might require combining multiple Boolean expressions
together to pull out the rows you need

In [ ]:
#Load in the movie dataset and set the title as the index:
movie = pd.read_csv("movie.csv", index_col="movie_title")

In [ ]:
movie.head()

In [ ]:
criteria1 = movie.imdb_score > 8

In [ ]:
criteria2 = movie.content_rating == "PG-13"

In [ ]:
criteria3 = (movie.title_year < 2000) | (movie.title_year > 2009)

In [ ]:
#Combine all the filters into a single Boolean array:
criteria_final = criteria1 & criteria2 & criteria3

In [ ]:
criteria3.head()

In [ ]:
criteria_final.head()

In [ ]:
movie[criteria_final].head()

# Task 2

In [ ]:
#imdb_score less than 5,
#a content_rating of R, 
#and a title_year between 2000 and 2010

In [ ]:
movie = pd.read_csv("movie.csv", index_col="movie_title")
crit_a1 = movie.imdb_score > 8
crit_a2 = movie.content_rating == "PG-13"
crit_a3 = (movie.title_year < 2000) | (movie.title_year > 2009)

In [ ]:
final_crit_a = crit_a1 & crit_a2 & crit_a3

In [ ]:
#imdb_score less than 5,
crit_b1 = movie.imdb_score < 5

In [ ]:
#a content_rating of R,
crit_b2 = movie.content_rating == "R"

In [ ]:
#and a title_year between 2000 and 2010
crit_b3 = (movie.title_year >= 2000) & (movie.title_year <= 2010)

In [ ]:
final_crit_b = crit_b1 & crit_b2 & crit_b3

#### Combine the two sets of criteria using the operator. 
#### This yields a Boolean array of all movies that are members of either set

In [ ]:
final_crit_all = final_crit_a | final_crit_b

In [ ]:
final_crit_all.head()

In [ ]:
#Once you have your Boolean array, you pass it to the index operator to filter the data
movie[final_crit_all].head()

In [ ]:
#Alternative method ..We can also filter off of the .loc attribute:
movie.loc[final_crit_all].head()

In [ ]:
#In addition, we can specify columns to select with the .loc attribute
cols = ["imdb_score", "content_rating", "title_year"]
movie_filtered = movie.loc[final_crit_all, cols]

In [ ]:
movie_filtered.head(10)

#### Translating SQL WHERE clauses to Python code

In [ ]:
#The following SQL statement would answer this query for us:
SELECT
UNIQUE_ID,
DEPARTMENT,
GENDER,
BASE_SALARY

FROM
EMPLOYEE

WHERE
DEPARTMENT IN ('Houston Police Department-HPD','Houston Fire Department (HFD)') AND
GENDER = 'Female' AND
BASE_SALARY BETWEEN 80000 AND 120000;

In [ ]:
employee = pd.read_csv("employee.csv")

In [ ]:
employee.head()

In [ ]:
employee.DEPARTMENT.value_counts().head()

In [ ]:
employee.GENDER.value_counts()

#### Write a single statement for each of the criteria

In [ ]:
depts = ["Houston Police Department-HPD","Houston Fire Department (HFD)"]

In [ ]:
#Generates boolean array
criteria_dept = employee.DEPARTMENT.isin(depts)

In [ ]:
criteria_dept.head()

In [ ]:
criteria_gender = employee.GENDER == "Female"

In [ ]:
criteria_sal = (employee.BASE_SALARY >= 80000) & (employee.BASE_SALARY <= 120000)

In [ ]:
# Combine all the Boolean arrays:
criteria_final = (criteria_dept & criteria_gender & criteria_sal)

In [ ]:
#Use Boolean indexing to select only the rows that meet the final criteria
select_columns = ["UNIQUE_ID","DEPARTMENT","GENDER","BASE_SALARY"]

In [ ]:
#Final dataframe
employee.loc[criteria_final, select_columns].head()

In [ ]:
# .isin operator
top_5_depts=employee.DEPARTMENT.value_counts().index[:5]

In [ ]:
top_5_depts

In [ ]:
criteria = ~employee.DEPARTMENT.isin(top_5_depts)

In [ ]:
criteria.head()

In [ ]:
employee[criteria].head()

#### Masking DataFrame rows
it creates missing values wherever the Boolean condition is True. In essence, it is literally masking, or
covering up, values in your dataset.

In [ ]:
movie = pd.read_csv("movie.csv", index_col="movie_title")

In [ ]:
c1 = movie["title_year"] >= 2010

In [ ]:
c2 = movie["title_year"].isna()

In [ ]:
criteria = c1 | c2

In [ ]:
#.mask method on the DataFrame to remove the values 
#in rows with movies that were made from 2010..missing value for title_year is also masked
movie.mask(criteria).head()

In [ ]:
movie_mask = movie.mask(criteria).dropna(how="all")
movie_mask.head()

# Index Alignment

When Series or DataFrames are combined, each dimension of the data automatically aligns
on each axis first before any computation happens.

In [ ]:
movie=pd.read_csv("movie.csv")

In [ ]:
columns = movie.columns

In [ ]:
columns

In [ ]:
#Use the .values attribute to access the underlying NumPy array
columns.values

In [ ]:
#Select items from the index by position with a scalar, list, or slice:
columns[5]

In [ ]:
columns[[1, 8, 10]]

In [ ]:
#Indexes share many of the same methods as Series and DataFrames:

In [ ]:
columns.min(), columns.max(), columns.isnull().sum()

In [ ]:
#You can use basic arithmetic and comparison operators on Index objects:
columns + "_A"

### Exploding indexes

In [ ]:
#Read in the employee data and set the index to the RACE column

employee = pd.read_csv("employee.csv", index_col="RACE")

In [ ]:
employee.head()

In [ ]:
#Select the BASE_SALARY column as two different Series. Check to see whether this
#operation created two new objects

salary1 = employee["BASE_SALARY"]
salary2 = employee["BASE_SALARY"]

In [ ]:
salary1 is salary2

In [ ]:
#The salary1 and salary2 variables are referring to the same object.
# employee["BASE_SALARY"] creates a view and not the object

salary2 = employee["BASE_SALARY"].copy()

In [ ]:
salary1 is salary2

In [ ]:
salary1

In [ ]:
#Let's change the order of the index for one of the Series by sorting it
salary1 = salary1.sort_index()
salary1.head()

In [ ]:
salary2.head()

In [ ]:
#Let's add these salary Series together:
salary_add = salary1 + salary2

In [ ]:
salary_add.head()

In [ ]:
#Let's create one more Series of salary1
#added to itself and then output the lengths of each Series
salary_add1 = salary1 + salary1

In [ ]:
#A Cartesian product took place because the indexes were not unique and in the same order
len(salary1), len(salary2), len(salary_add), len(salary_add1)

In [ ]:
len(salary1)

In [ ]:
len(salary2)

In [ ]:
len(salary_add)

In [ ]:
len(salary_add1)